{% extends 'index.html' %}

{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/tournament.css' %}" />
{% endblock %}

{% block header %}
    <div class="login">
    {% include 'header/log.html' %}
    </div>
    <div class="header">
        {% include 'header/navbar.html' %}
    </div>
    
{% endblock %}

{% block content %}

  <section class="tournament">
    <h2>Tournaments</h2>
    <section>
      {% for tournament in tournaments %}
        <h3>{{ tournament.name }}</h3>
        <p>{{ tournament.date }}</p>
        <p>Max players: {{ tournament.players }}</p>
        <a href="#">Ingresar</a>
      {% endfor %}
    </section>
    <section>
      <button id="create_tournament">Crear torneo</button>
      <ul id="matches-list"></ul>
    </section>
    <script>
      document.getElementById('create_tournament').addEventListener('click', function () {
        fetch('tournament_matches/')
          .then((response) => response.json()) // Suponiendo que la vista devuelva JSON
          .then((data) => {
            const matches_list = document.getElementById('matches-list')
            matches_list.innerHTML = ''
            data.matches.forEach((match) => {
              matches_list.innerHTML += `<li>${match.id} : ${match.player1} vs ${match.player2}</li>`
            })
          })
      })
    </script>
  </section>
{% endblock %}
