{% extends 'index.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}" />
<script src="{% static 'js/tournaments.js' %}" defer></script>
{% endblock %}
{% block header %}
{% include 'header/log.html' %}
<header class=" navbar">
    {% include 'header/navbar.html' %}
</header>
    
{% endblock %}

{% block content %}
<div class="body">

  <div class="tournaments">
    <h1>Tournaments</h1>
    <section class="tournament_container">
      {% for tournament in tournaments %}
      <div class="tournament blur backImage " data-bg-url="{{ tournament.imagen_banner.url }}" >
        <div class="foreground">
          <h3>{{tournament.nombre_torneo}}</h3>
          <p>fecha: {{tournament.fecha}}</p>
          <p>Jugadores inscritos:{{tournament.num_players}}</p> 
          <a href="{% url 'tournament_detail' tournament.nombre_torneo %}" class="btn">Ingresar</a>
        </div>

      </div>
      {% endfor %}
    </section>
  </div>
</div>
{% endblock %}