{% extends "tournaments.html" %}
{% load static %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/tournament_detail.css' %}" />
<script src="{% static 'js/tournament_detail.js' %}" defer></script>
{% endblock extrahead %}

{% block content %}
<div class="body">
    <div class="tournament_info">
        <h1> {{tournament.name}} </h1>
        <div class='tournament__info__image blur'>
            <img src="{% static 'img/Torneo1.jpg' %}" alt="imagen del torneo" />
        </div>
        <div class="description">
            <h2>Descripcion</h2>
            <p> {{ tournament.description }} </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt neque id temporibus. Ea ad saepe adipisci blanditiis? Harum quo voluptatem aut sint iusto in ab rem laboriosam facere repellendus.</p>
        </div>
        <section class="reglas_jugadores_section">
            <div class="container" id="prueba">
                <h4>Reglas</h4>
                <ul class="reglas">
                    {% for rule in tournament.rules %}
                    <li> {{rule}} </li>
                    {% endfor %}
                    <ul>
            </div>
            <div class="container">
                <h4>Jugadores Inscritos</h4>
                <ul class="Jugadores">
                    {% for player in players %}
                    <li> {{player}} </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    </div>
    {% if svg_data %}
    <div class="svg_container blur">
        {{svg_data|safe}}
    </div>
    {% else %}
    <div class="formulario_ingreso">
        {% if user.is_authenticated %}
        <div class="already_authenticated">
            <h3> Ya esta registrado, deseas inscribirte a este torneo usando el correo: {{user.email}}</h3>
            <a href="#" class="login__button"> Inscribirme </a>
        </div>
        {% else %}
        <div class="guest_form">
            <form class="form">
                <legend> Registrarse a {{tournament.name}} como invitado</legend>
                <div class="form-group">
                    <label for="playerName">Nombre de jugador</label>
                    <input type="text" id="playerName" name="playerName" required="">
                </div>
                <div class="form-group">
                    <label for="tel">Numero de telefono</label>
                    <input type="tel" id="tel" name="tel" required="">
                </div>
                <div class="form_bottom">
                    <button class="form-submit-btn" type="submit">Submit</button>

                    <a class="signup" href="{% url 'account_login' %}" class="">Ya tienes cuenta?</a>

                </div>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endblock content %}