{% extends "index.html" %}
{% load static %}
{% load socialaccount %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block extrascripts %}{% endblock %}
{%block estandar%}
<script src="{% static '\js\footer.js' %}" defer></script>
{% endblock%}
{% block header %}{% endblock %}
{% block content %}
  <div class="body-log">
    <a href="{% url "home" %}" class="btn-home">🢀</a>

    <div class="form-container">
      <div>
        <div>
          <h3 class="title">Create New Account</h3>
        </div>
        <form class="form"
              id="userSignupForm"
              action="{% url 'account_signup' %}"
              method="post"
              role="form">
          {% csrf_token %}
          {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
          {% if form.non_field_errors %}
            <div>
              <ul>
                {% for error in form.non_field_errors %}<li>{{ error|lower }}</li>{% endfor %}
              </ul>
            </div>
          {% endif %}
          <div>
            <div class="input-group">
              <input type="text" id="id_username" name="username" placeholder="Username">
              <span>{{ form.username.errors }}</span>
            </div>
            <div class="input-group">
              <input type="text" id="id_email" name="email" placeholder="Email">
              <span>{{ form.email.errors }}</span>
            </div>
            <div class="input-group">
              <input type="text" id="id_telefono" name="telefono" placeholder="Phone">
              <span>{{ form.telefono.errors }}</span>
            </div>
            <div class="input-group">
              <input type="password"
                     id="id_password1"
                     name="password1"
                     placeholder="Password">
              <span>{{ form.password1.errors }}</span>
            </div>
            <div class="input-group">
              <input type="password"
                     id="id_password2"
                     name="password2"
                     placeholder="Confirm Password">
              <span>{{ form.password2.errors }}</span>
            </div>
            <div>
              <button class="sign" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
        <div class="social-message">
          <div class="line"></div>
          <p class="message">Sign up with social accounts</p>
          <div class="line"></div>
        </div>
        <div class="social-icons">
          <a href="{% provider_login_url 'google' %}" class="icon">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 32 32"
                 class="w-5 h-5 fill-current"
                 width="28px"
                 heigth="28px">
              <path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z">
              </path>
            </svg>
          </a>
          <a href="{% provider_login_url 'facebook' %}" class="icon">
            <img src="{% static 'svg/facebook.svg' %}"
                 data-hover="{% static 'svg/facebook.svg' %}"
                 data-default="{% static 'svg/facebook.svg' %}"
                 alt="facebook">
          </a>
        </div>
        <p class="signup">
          Ya tienes cuenta?
          <a href="{% url 'account_login' %}" class="">Log in</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
