{% extends "index.html" %}
{% block content %}
  <div>
    <div>
      <h3>Create New Account</h3>
    </div>
    <div>
      <form id="userSignupForm"
            action="{% url 'account_signup' %}"
            method="post"
            role="form">
        {% csrf_token %}
        {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
        {% if form.non_field_errors %}
          <div>
            <ul>
              {% for error in form.non_field_errors %}<li>{{ error|lower }}</li>{% endfor %}
            </ul>
          </div>
        {% endif %}
        <div>
          <div>
            <input type="text" id="id_username" name="username" placeholder="Username">
            <span>{{ form.username.errors }}</span>
          </div>
          <div>
            <input type="text" id="id_email" name="email" placeholder="Email (opcional)">
            <span>{{ form.email.errors }}</span>
          </div>
          <div>
            <input type="password"
                   id="id_password1"
                   name="password1"
                   placeholder="Password">
            <span>{{ form.password1.errors }}</span>
          </div>
          <div>
            <input type="password"
                   id="id_password2"
                   name="password2"
                   placeholder="Confirm Password">
            <span>{{ form.password2.errors }}</span>
          </div>
          <div>
            <button type="submit">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
