{% load static %}
<div class="content-icons">
  <div class="content-icon">
    <a href="#"
      ><img
        src="{% static 'svg/pacman.svg' %}"
        data-default="{% static 'svg/pacman.svg' %}"
        alt="waka"
      />
    </a>
  </div>

  <div class="content-icon">
    <a href="#"
      ><img
        src="{% static 'svg/instagram.svg' %}"
        data-default="{% static 'svg/instagram.svg' %}"
        alt="Instagram"
    /></a>
  </div>

  <div class="content-icon">
    <a href="#"
      ><img
        src="{% static 'svg/whats-bwfoot.svg' %}"
        data-default="{% static 'svg/whats-bwfoot.svg' %}"
        alt="Whatsapp"
    /></a>
  </div>
  <div class="content-icon">
    <a href="#"
      ><img
        src="{% static 'svg/facebook.svg' %}"
        data-default="{% static 'svg/facebook.svg' %}"
        alt="Facebook"
    /></a>
  </div>
</div>

  <div class="content">
    <div class="footer-align">
      <p>Av. Adolfo López Mateos Ote. 413-ote, Barrio del Encino, 20240 Aguascalientes, Ags.</p>
      <p>Tel.+524495650644</p>
      <a href="{% url 'politicas' %}">Politicas de Privacidad</a>
      <a href="{% url 'cookies_servicios' %}">Politica de Cookies</a>
    </div>
  </div>

