{% load static %}
  <script> 
    const num_torneos = {{num_torneos_inscritos}}
  </script>
  {% if user.is_authenticated %}
  <div id="menu-toggle" class="menu-icon">
    <img id="perfil"
    src="{% static 'svg/profile.svg' %}"
    data-hover="{% static 'svg/profile.svg' %}"
    data-default="{% static 'svg/profile.svg' %}"
    alt="Porfile"
    />

    </div>
  <div id="sidebar" class="sidebar">
    <div class="sidebar-content">
      <section class="position">
        <h3>¡Hola, {{ user.username }}!</h3>
        <p>{{ user.email }}</p>
        <a href="#">editar</a>
        <p>Nó. Torneos</p>
        <div class="heart-display" id= "heart-display">
          <img class="heart-red hidden" id="red1" src="{% static 'svg/1.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-red hidden" id="red2" src="{% static 'svg/1.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-red hidden" id="red3" src="{% static 'svg/1.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-red hidden" id="red4" src="{% static 'svg/1.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-red hidden" id="red5" src="{% static 'svg/1.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-gray " id="gray1" src="{% static 'svg/2.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-gray " id="gray2" src="{% static 'svg/2.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-gray " id="gray3" src="{% static 'svg/2.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-gray " id="gray4" src="{% static 'svg/2.svg' %}" alt="Ubicacion" class="ubicacion_img">
          <img class="heart-gray " id="gray5" src="{% static 'svg/2.svg' %}" alt="Ubicacion" class="ubicacion_img">
        </div>
        <button class="login-button">
          <span class="shadow"></span>
          <span class="edge"></span>  
          <a class="front" href="{% url 'account_logout' %}">Logout</a>
        </button>
      </section> 
    </div>
  </div>
  {% else %}
  <div id="menu-toggle" class="menu-icon-login">
    <img id="perfil"
    src="{% static 'svg/profile.svg' %}"
    data-hover="{% static 'svg/profile.svg' %}"
    data-default="{% static 'svg/profile.svg' %}"
    alt="Reserv"
    />

    </div>
  <div id="sidebar" class="sidebar-out">
    <div class="sidebar-content">
  <section class="position-out">
  <button class="login-button-out">
    <span class="shadow"></span>
    <span class="edge"></span>
      <a class="front" href="{% url 'account_login' %}">Login</a>
  </button>
  <button class="login-button-out">
    <span class="shadow"></span>
    <span class="edge"></span>
      <a class="front" href="{% url 'account_signup' %}">Sign Up</a>
  </button>
  </section>
</div>
</div>
  {% endif %}