{% load static %}

<div class="section">
  <a class="icon" href="{% url 'home' %}">
    <img
      src="{% static 'svg/home-bw.svg' %}"
      data-hover="{% static 'svg/home.svg' %}"
      data-default="{% static 'svg/home-bw.svg' %}"
      
      alt="Home"
    />
    Home
  </a>
  <a class="icon"  href="{% url 'reservations' %}"
    ><img
      src="{% static 'svg/whats-bw.svg' %}"
      data-hover="{% static 'svg/whats.svg' %}"
      data-default="{% static 'svg/whats-bw.svg' %}"
      alt="Reserv"
    />Reservaciones</a
  >
  <a class="icon" href="{% url 'tournaments' %}"
    >Torneos<img
      src="{% static 'svg/trophy-bw.svg' %}"
      data-hover="{% static 'svg/trophy.svg' %}"
      data-default="{% static 'svg/trophy-bw.svg' %}"
      
      alt="trophy"
  /></a>
  <a class="icon" href="{% url 'restaurante' %}"
    >Restaurante<img
      src="{% static 'svg/beer-bw.svg' %}"
      data-hover="{% static 'svg/beer.svg' %}"
      data-default="{% static 'svg/beer-bw.svg' %}"
      
      alt="beer"
  /></a>
</div>
