{% extends "index.html" %} {% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/politicas.css' %}" />
{% endblock %}
{% block extrascripts%}
{% endblock %}
{% block header %}
{% include 'header/log.html' %}
<header class=" navbar">
    {% include 'header/navbar.html' %}
</header>
    
{% endblock %}

{% block content %}

  <div class="body-log">
    <div class="tarjeta_info">
        <h1>Aviso de Cookies</h1>
        <p>En nuestra página web utilizamos cookies para mejorar la experiencia del usuario. Este aviso explica qué son las cookies, qué tipo de cookies utilizamos y cómo puedes gestionarlas.</p>
      
    <div class="">
      <h2>¿Qué son las cookies?</h2>
      <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio web.</p>
    </div>
      <h2>Tipos de cookies que usamos</h3>
    <div class="">
      <h3>Cookies Esenciales</h3>
      <p>Estas cookies son necesarias para el funcionamiento seguro de nuestra página web y no pueden ser desactivadas en nuestros sistemas:
        <p>Csrftoken: Para proteger la información enviada a través de formularios contra accesos no autorizados</p>
        <p>Messages: esta cookie suele almacenar información codificada, como un identificador único o un mensaje cifrado.</p>
        <p>Sessionid: Es una cookie que contiene un identificador único para la sesión activa del usuario.</p>
    </div>
    <div class="">
      <p>Cookies analíticas: Nos ayudan a entender cómo los usuarios interactúan con nuestra página (ejemplo: Google Analytics).</p>
      <p>Cookies de preferencia: Guardan tus configuraciones (como idioma).</p>
    </div>
    <div class="">
      <h2>Gestión de cookies</h2>
      <p>Puedes aceptar o rechazar las cookies en cualquier momento desde el banner de cookies en nuestro sitio.</p>
      <p>Para más información, contáctanos a través de nuestro correo: loobybar01@gmail.com.</p>
    </div>
</div>
{% endblock %}
