.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    min-height: 100vh;
}

/* promociones */


/* informacion */


/* Bottompage */