
.body {
    padding-bottom: 2%;
    width: 100%;
    height: 100%;
    --s: 150px;
   --c1: #1e001c;
    --c2: #02071d;
    --c3: #000000;
    --c4: #45003a;
    --c5: #080f3f;
    --c6: #050b24;
    --c7: #320030;
    --c8: #05001a;
    --c9: #171616;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 45deg,
        var(--c2) 0 90deg,
        var(--c3) 0 135deg,
        var(--c4) 0 180deg,
        var(--c5) 0 225deg,
        var(--c6) 0 270deg,
        var(--c7) 0 315deg,
        var(--c8) 0 360deg,
        var(--c9) 0 405deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
}
.body-log {
    width: 100%;
    min-height: 88vh;
    display: grid;
    --s: 150px;
   --c1: #1e001c;
    --c2: #02071d;
    --c3: #000000;
    --c4: #45003a;
    --c5: #080f3f;
    --c6: #050b24;
    --c7: #320030;
    --c8: #05001a;
    --c9: #171616;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 45deg,
        var(--c2) 0 90deg,
        var(--c3) 0 135deg,
        var(--c4) 0 180deg,
        var(--c5) 0 225deg,
        var(--c6) 0 270deg,
        var(--c7) 0 315deg,
        var(--c8) 0 360deg,
        var(--c9) 0 405deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
}
  
/* promociones */

.carrousel_promos {
    background: rgba(43, 9, 79, 0.236);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    width: 85%;
    height: 700px;
    margin-top: 6%;
    margin-bottom: 1%;
    border-radius: 30px;
    display: flex;

    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
    
}
.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.card {
    background: rgba(43, 9, 79, 0.236);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    width: 40rem;
    height: 20rem;
    margin: 12rem 0 0 2rem;
    
    padding: 22%;
    border-radius: 30px;
    display: flex;

    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
}

.card:hover {
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al hacer hover */
}

/* ubicacion */


/* informacion */


/* Bottompage */