@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');


.carrusel_body {
  min-height: 50vh;
  margin: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  padding: 0;
  overflow: hidden; /* Esto ayuda a evitar barras de desplazamiento en la página */
}
.swiper {
    width: 22%;
    padding: 5% 0;
    overflow: visible;
  }

  .swiper-slide {
    position: relative;
    width: 400px;
    height: 226px;
    box-sizing: border-box;
    aspect-ratio: 3/4; /* Relación de aspecto 16:9 */
  
    border-radius: 14px;
    border: 1px solid rgba(177, 177, 177, 0.4);
   overflow: hidden;
  }
  .swiper-slide-active {
    transform: scale(1.1); /* Escala para destacar */
    transition: transform 0.3s ease; /* Suaviza la transición */
  }
  
 
  .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.7; /* Reduce la opacidad de las laterales */
    transform: scale(0.9); /* Escala ligeramente más pequeña */
  }
  .swiper-slide img {
 
    width: 100%; /* Ajusta el ancho al del slide */
    height: 100%; /* Ajusta la altura al del slide */
    object-fit: cover;
  }

  .title_carrusel{
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    bottom: 1px;
    padding: 10% 70%;
    background: rgb(46, 39, 39, 0.1);
    border-radius: 8px;
    border: 2px solid rgb(177, 177, 177, 0.1);
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    transition: all 0.5s linear;
  }

  .title_carrusel h1, .title_carrusel p{
    font-size: 1.2rem;
    font-weight: 600; 
 }

.swiper-slide-active .title_carrusel{
  
  box-shadow: 0 10px 10px 2px rgba(251, 227, 13, 0.6);

}

.swiper-pagination{
  --swiper-pagination-bottom: -35px;

}

@media (min-width: 768px) {
  .swiper-pagination{
    --swiper-pagination-bottom: 6px;
  }
    
}

.swiper-pagination-bullet{
  background-color: #fff;
  width: 14px;
  height: 14px;
 border-radius: 50%;
 transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active{
  background-color: rgba(25, 43, 206, 1);
  width: 32px;
  border-radius: 14px;
}

