.emergency{
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0;
    position: relative;
    margin: -3rem -5rem;
    width: 110vw;
    background-size: cover;
    background-position: center;
}