


.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 0;
    justify-content: space-between;
    z-index: 1;
}
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        background-color: #110010;
        bottom: 0;
        height: 88px;
        padding: 30px;
    }
   
}

.footer-align {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 8px;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 768px) {
    .footer-align{
        padding: 0;

        font-size: 12px;
        align-items: center;
    }
    
}

.content {
    width: 100%;
    padding: inherit;
    background: #110010;
    display: flex;
}
@media (min-width: 768px) {
    .content{
        width: 50%;
        padding: 0;
        background: transparent;
    }
}
.content-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: transparent;
    color: white;
    text-align: center;
    transform: translateX(-200%);
    transition: all 0.8s ease;
}
.content-icon img{
    width: 0;
    transition: all 0.8s ease;

}
.content-icon.active{
    transform: translateX(0);
    transition: all 0.8s ease ;
    opacity: 1;
    width: 22%;

}
.content-icon.active img{
    width: 32px;
    transform: translateX(0);

    transition: all 0.8s ease;

}
@media (min-width: 768px) {
    .content-icon{
        justify-content: space-between;
        transform: translateX(0);
        margin: 0 30px;
    }
    .content-icon img{
        width: 32px;
        
    }
    
}
.content-icons {
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: transparent;
    color: white;
    align-items: center;    
}
@media (min-width: 768px) {
    .content-icons{
        justify-content: flex-start;
        transform: translateY(0);
    }
    
    
}
.content-icons.active{
    transform: translateX(-200px);
    
    transition: all 0.5s ease;
}
footer a{
    color : white;
}

@keyframes vibrate-rotate {
    0% { transform: rotate(0); }        
    25% { transform: rotate(5deg); }    
    50% { transform: rotate(-5deg); }    
    75% { transform: rotate(5deg); }    
    100% { transform: rotate(0); }       
  }
@media (min-width: 768px) {
    @keyframes vibrate-rotate {
        0% { transform: rotate(0); }        
        25% { transform: rotate(5deg); }    
        50% { transform: rotate(-5deg); }    
        75% { transform: rotate(5deg); }    
        100% { transform: rotate(0); }       
      }
    
}
  /* Clase que activa la vibración */
  .pac{
    margin-left: 0.5rem;
  }
  .vibrate {
    animation: vibrate-rotate 0.5s linear infinite; /* Ciclo continuo */
  }