:root {

    font-size: 30%;
    box-sizing: border-box;
    font-size: clamp(12px, 1.5vw, 16px);
    font-family: "Krub", sans-serif;
    background: radial-gradient(circle, rgb(28, 28, 28) 20%, rgba(0, 39, 75, 1) 57%, rgba(55, 1, 60, 1) 96%);
    scrollbar-width: none;
}
.header{
    display: flex;
    justify-content: center;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}



.tarjeta {
    background: rgba(43, 9, 79, 0.236);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    width: 95%;
    margin-top: 6%;
    margin-bottom: 1%;
    padding: 22%;
    border-radius: 30px;
    display: flex;

    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;

}