:root {

    font-size: 90%;
    box-sizing: border-box;
    background-image: url(../img/lobby_root.webp);
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
    color: white;
    scrollbar-width: none;
    --heartcolor: #f22613;
    --heartcolor2: #f2af13;
    --heartcolor3: #65f213;
    --heartcolor4: #1335f2;
    --heartcolor5: #c513f2;
    
}
main {
    flex: 1; /* Ocupa todo el espacio disponible */
}
.header{
    display: flex;
    justify-content: center;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;

}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
@keyframes bounceh {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) rotate(355deg);
    }
    40% {
      transform: translateY(-10px) rotate(355deg);
    }
    60% {
      transform: translateY(-5px) rotate(355deg);
    }
}
@keyframes typing {
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
.tarjeta {
    background: rgba(43, 9, 79, 0.236);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    width: 95%;
   
    padding: 22%;
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;

}
/*  */