/* Animación de deslizamiento */
@keyframes slide-in {
    0% {
      transform: translateX(-100%); /* Empieza fuera de la pantalla por la izquierda */
    }
    100% {
      transform: translateX(0); /* Termina en su posición original */
    }
  }
  
  /* Clase para activar la animación */
  .show {
    animation: slide-in 1s ease-out forwards; /* Aplicar animación al elemento */
  }
  
  /* Estilos generales */
 
  .informacion_general {
    background: rgba(43, 9, 79, 0.236);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 26px;
    width: 90%;
    display: flex;
    padding: 5%;
    margin: 0 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 200;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
}
@media (min-width: 768px) {
    .informacion_general {
        flex-direction: row;

    }
}
  .informacion_general.show {
    opacity: 1; /* Cuando se activa, se hace visible */
  }
  

.contenedor_infogeneral {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
   
}
@media (min-width: 768px) {
    .contenedor_infogeneral {
        width: 50%;
        
       
        align-items: flex-start;
        margin: 0 0 20px 15px;
        
    }
    
}
.contenedor_infogeneral_img{
    width: 50%;
    height: 100%;
    padding: 2rem 0;
   
}
.contenedor_infogeneral p {
    text-align: justify;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    
}
.contenedor_infogeneral h1 {
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    text-align:start ;
    margin-bottom: 20px;
}
.contenedor_infogeneral_img img {
  
    width: 100%;
    transition: 0.5s;
    
}
.contenedor_infogeneral_img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.info_img1{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8%;
}
.info_img2{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.info_img1_position{
    width: 35%;
}
.info_img2_position{
    width: 50%;

}