.landpage {
    display: flex;
    /* Esto permite que los elementos hijos se distribuyan en una fila */
    flex: 1;
    /* Esto permite que el contenido ocupe el espacio disponible */
    padding: 0 0 40px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(../img/landpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 39, 75, 1) 57%, rgba(55, 1, 60, 1) 96%);
    width: 100%;
    height: 100vh;

}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 90%;
    padding: 50px;
    margin-left: 6rem;
}

.login__button {
   /* From Uiverse.io by zjssun */ 

    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  
  
  
  
  
}

.login__button:hover {
    color: #ffffff;
    background: #ebb60e;
    border: 1px solid #ebb60e;
    box-shadow: 0 0 5px #ebb60e, 0 0 10px #ebb60e, 0 0 10px #ebb60e,
      0 0 100px #ebb60e;
}



.landpage h1 {

    font-size: 3rem;
    color: white;
    text-align: center;
    justify-content: flex-start;
    margin: 0;
}

.landpage .imag {
    width: 600px;
    height: 450px;
}