.navbar{
  display: flex;
  align-items: row;
  background: rgb(2,0,36);
  background: linear-gradient(84deg, rgba(2,0,36,0.6050069686077556) 0%, rgba(111,9,121,0.5825980050223214) 56%, rgba(0,16,153,0.557387920988708) 100%);  
  border-radius: 10px;
  position: sticky;
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar .section{
  list-style-type: none;
  display: flex;
  justify-content: row;
  padding: 15px;
  
  
}

.navbar a {
  margin: 0 3rem;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}