.navbar{
  display: flex;
  align-items: row;
  background: rgb(2,0,36);
  background: linear-gradient(84deg, rgba(2,0,36,0.6050069686077556) 0%, rgba(111,9,121,0.5825980050223214) 56%, rgba(0,16,153,0.557387920988708) 100%);  border-radius: 10px;
  position: sticky;
  width: 60%;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  
  
}
.login{
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding: 50px;
}
.navbar li {
  margin: 0 6rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}