.navbar{
  display: flex;
  align-items: center;
  background: linear-gradient(84deg, rgba(2,0,36,0.6050069686077556) 0%, rgba(111,9,121,0.5825980050223214) 56%, rgba(0,16,153,0.557387920988708) 100%);  
  border-radius: 10px;
  position: sticky;
  justify-content: center;
  top: 0;  
  z-index: 1000;
  width: auto;
}
.navbar .section{
  list-style-type: none;
  display: flex;
  justify-content: row;
  padding: 15px;
  
  
}

.navbar a {
  margin: 0 3rem;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffe253;

  text-shadow: 0 0 10px #ebb60e, 0 0 1px #ebb60e, 0 0 1px #ebb60e,
      0 0 100px #ebb60e;
}