
.heart-display {
  display: flex;
  flex-direction: row;
 
}
.heart-display img{
  width: 32px;
 
}

.hidden{
  display: none;
}

/* Estilo para el ícono del menú */
.menu-icon {
  background: #1B1B2F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  border-top-left-radius: 26px;
  padding: 10px;
  border-bottom-left-radius: 26px;
  z-index: 1000;
  /* height: 7.5%; */
  transition: all 0.2s ease-out 0s;
}

.menu-icon.active {
  
  background: linear-gradient(109deg, rgba(85,54,26,0) 45%, rgba(255,219,48,0) 67%);
  box-shadow: none;

  right: 152px;  /* Nueva posición cuando se abre */
}
.menu-icon-login {
  background: #1B1B2F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  border-top-left-radius: 26px;
  padding: 10px;
  border-bottom-left-radius: 26px;
  z-index: 1000;
  /* height: 7.5%; */
  transition: all 0.2s ease-out 0s;
}
.menu-icon.active img {
  width: 55px;
  height: 55px;
  top: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: all 0.35s ease;
}
.menu-icon img {
  position: relative;

  width: 55px;
  height: 55px;
  top: 5px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-icon-login.active {
  background: linear-gradient(109deg, rgba(85,54,26,0) 45%, rgba(255,219,48,0) 67%);
  box-shadow: none;
  right: 160px;  /* Nueva posición cuando se abre */
}

/* Estilo para la barra lateral */
.sidebar {
  z-index: 800;
    display: flex;
    flex-direction: column;
    height: 382px;
   
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    color: rgb(255, 255, 255);
    
    background: #1b1b2f8f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    align-items: center;
    transition: all 0.2s ease-out 0s;
}
.sidebar-out{
  z-index: 800;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  
  background: #1b1b2f8f;;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);

  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  align-items: center;
   transition: all 0.2s ease-out 0s;
}

.sidebar-content {
    height: 100%;
    width: 100%;
    margin-top: 9%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.open {
  right: 0;
  width: 100%;
  overflow: hidden; 
  transition: all 0.2s ease-out 0s;
}

.sidebar.open h3 {
  margin-top: revert;
}
.sidebar-out.open {
  right: 0;
  width: 100%;
  overflow: hidden; 
  transition: all 0.2s ease-out 0s;
}

@media (min-width: 768px) {
  .menu-icon {
    top: 15%;
  }
  .menu-icon-login {
    top: 12%;
  }
  .menu-icon.active {
    right: 120px;
    top: 80px;
}
  .menu-icon-login.active{
    right: 89px;
  }
  .sidebar {
    top: 14%;
   
    height: 375px;
    clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px);
    -webkit-clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px); 
  }
  .sidebar-out {
    top: 12%;
   
    height: 250px;
    clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px);
    -webkit-clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px); 
  
  }
  .sidebar.open{
    width: 285px;
    margin-right: 1%;
  }
  .sidebar.open img{
    width: 32px;
    transition: 0.5s;

}
  .sidebar-out.open{
    width: 230px;
    margin-right: 1%;
  }
}
input[type="file"] {
  /* Oculta los bordes y define un estilo base */
  border: none;
  background-color: transparent;
  color: transparent; /* Para ocultar el texto predeterminado */
  font-size: 0; /* Oculta texto adicional del input */
  cursor: pointer;
}

/* Personaliza el botón en navegadores WebKit (Chrome, Edge, Safari) */
input[type="file"]::-webkit-file-upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0056b3;
}

/* Personaliza el botón en navegadores basados en MS Edge/IE */
input[type="file"]::-ms-browse {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Para otros navegadores */
input[type="file"]::file-selector-button {
  background-color: #141123;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #19004b;
}