.body {
    padding: 0;
    color: white;
    padding-bottom: 30px;
}

h2 {
    font-size: clamp(16px, 3vw, 30px);
}
.titulo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.titulo h1,
.titulo h2 {
    text-align: center;
}

.titulo h1 {
    font-size: clamp(50px, 6vw, 80px);
    font-weight: 700;
    margin: 3rem;
}

.container {
    /* padding-top: 130px; */
    width: 100%;
    min-height: 80vh;
    position: relative;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .titulo{
        top: 30%;
    }

    .container{
        padding-top: 0;
    }
}

.hidden {
    display: none;
}

.container img.loaded {
    display: block;
    position: absolute;
    width: 100%;
    max-height: 80vh;
    background-size: cover;
    filter: brightness(0.6);
    mask-image: linear-gradient(to bottom, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
} 


/* LOADER */
.wrapper {
    width: 100px;
    /* Tamaño del loader */
    height: 60px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Por encima de la imagen */
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}


.tournaments_container {
    position: relative;
    z-index: 2;
    background-color: #02071df0;
    width: 100%;
    margin: -300px auto 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
}
@media (min-width: 768px) {
    .tournaments_container{
        margin: -350px auto 0 auto;
        padding: 3rem;
    }
}
@media (min-width: 1024px) {
    .tournaments_container{
        width: 80%;
        margin: -200px auto 0 auto;
    }
}

.tournaments_container h2 {
    color: #fff;
    margin: 2rem auto 0 auto;
}

.tournament_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.tournament_card {
    margin: 20px 0;
    background-color: #1a1a1a;
    width: 100%;
    border: 1px solid #444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    color: white;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 1024px) {
    .tournament_card{
        width: 70%;
    }
}

.tournament_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.tournament_card h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.tournament_info {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.image_container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
@media (min-width: 1024px) {
    .image_container{
        opacity: 1;
    }
    .tournament_card:hover .image_container {
        opacity: 0.3;
    }
}


.image_container img {
    width: 100%;
    height: 100%;
    background-size: auto;
    border-radius: 10px;
}


.button_container {
    opacity: 1;
    transition: opacity 0.3s ease;
}
@media (min-width: 1024px) {
    .button_container{
        opacity: 0;
    }
}

.tournament_card:hover .button_container {
    opacity: 1;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.tournament_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.tournament_card h3,
.tournament_info,
.button_container {
    position: relative;
    z-index: 2;
}

.btn {

    width: 50%;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(163, 1, 152);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 2;
    /* Asegura que esté por encima del gradiente */
    font-family: inherit;
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 0, 221, 0.3);
    /* Suave sombra púrpura */
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
}

.btn:hover {
    color: white;
    box-shadow: 0 10px 30px rgba(255, 0, 221, 0.3);
    text-shadow: 0 0 5px rgb(247, 0, 231), 0 0 10px rgb(247, 0, 231);
    transform: translateY(-2px);
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(163, 1, 152);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

