{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin/object_view.css' %}" />
    <script src="{% static 'js/admin/object_view.js' %}" defer></script>

{% endblock extrahead %}


{% block content %}

    <h2> Nombre del torneo: {{tournament.name}} </h2>
    <p> Id del torneo: {{tournament.id}} </p>
    <p> Maximo de jugadores: {{tournament.players}} </p>
    <p> Fecha del torneo: {{tournament.date}} </p>
    <a href="#" id="change_info"> Cambiar datos del torneo</a>
    <section>
        {% if matches or matchups_ready %}
            {% include "components/matches_torneo.html" with torneo_id=torneo_id matchups_ready=matchups_ready svg_data=svg_data matches=matches is_ideal=is_ideal %}
        {% else %}
            <form method="post" action="{% url 'admin:vista_del_objeto' object_id=torneo_id %}">
                {% csrf_token %}
                <button type="submit" id="create_tournament">Crear Emparejamiento del torneo</button>
            </form>
        {% endif %}
    </section>
{% endblock content %}
