{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin/tournament_view.css' %}" />


    <script>
        const tournamentId = {{ torneo_id }};
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static '/@svgdotjs/svg.js/dist/svg.min.js' %}" defer></script>
    <script src="{% static '/@svgdotjs/svg.draggable.js/dist/svg.draggable.js' %}" defer></script>
    <script src="{% static 'js/admin/tournament_view.js' %}" defer></script>

{% endblock extrahead %}


{% block content %}

    <h2>Nombre del torneo: {{ tournament.name }}</h2>
    <table class="tabla__datos">
        <tr>
            <td><strong>Nombre del torneo</strong></td>
            <td><strong>Nombre del Juego</strong></td>
            <td><strong>Modo del Torneo</strong></td>
            <td><strong>Jugadores Inscritos</strong></td>
            <td><strong>Fecha del torneo</strong></td>
        </tr>
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.game_name }}</td>
            <td>{{ tournament.mode }}</td>
            <td>{{ tournament.registered_players }}</td>
            <td>{{ tournament.date }}</td>
        </tr>
    </table>
    <a href="#" id="change_info" class="options__button"> Cambiar datos del torneo</a>
    <section>
        {% if svg_data %}
            <div class="matches">
                <div class="matches__list">
                    {{ svg_data|safe }}
                </div>
                <input type="number"  id="svg_input" max="100">
                <div class="options">
                    <button id="send__button" class="hide options__button">Guardar Cambios</button>
                    <button id="cancel__button" class="hide options__button">Cancelar</button>
                    <button id="reset__button" class="hide options__button">Reiniciar Torneo</button>
                </div>
            </div>
            

        {% else %}
            <form method="post" action="{% url 'admin:vista_del_torneo' tournament_id=torneo_id %}">
                {% csrf_token %}
                <button type="submit" id="create_tournament" class="options__button">Crear Emparejamiento del torneo</button>
            </form>
        {% endif %}
    </section>
{% endblock content %}
