{% extends "index.html" %} {% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
{% endblock extrahead %}

{%block extrascripts %}
<script src="{% static 'js/custom_perfil.js' %}" defer></script>
<script src="{% static 'js/popup.js' %}" defer></script>
{% endblock %}
{% block estandar %}
{% endblock%}

{% block header %}
{% endblock%}

{% block content %}
  <div class="body-log">
    <a href="{% url 'home' %}" class="btn-home">🡸</a>
        
    <div class="form-container-user">
      <div>
        <div>
          <h2 class="title">Editar Perfil</h2>
        </div>
        <form id="perfil-form" method="post" enctype="multipart/form-data" class="form">  <!-- Asegúrate de agregar enctype -->
          {% csrf_token %}
          
          <div class="profile-avatar">
              {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="Avatar del usuario" id="profile-avatar">
              {% else %}
              <img src="{% static 'svg/profile.svg' %}" alt="Avatar del usuario" id="profile-avatar">
              {% endif %}
              <input type="file" class="file-input" name="avatar" accept="media/avatars/*" onchange="previewAvatar(event)">
          </div>
      
          <!-- Resto del formulario -->
          <div class="input-group">
            <input type="text" id="id_username"  name="username" value={{user.username}}>
          </div>
          <div class="input-group">
            <input type="text" id="id_email" name="email" value={{user.email}}>
          </div>
          <div class="input-group">
            <input type="text" id="id_telefono" name="telefono" value={{user.telefono}}>
          </div>
          <div class="form-actions">
              <button type="submit" class="sign">Guardar Cambios</button>
          </div>
      </form>
      
    </div>
  </div>
{% endblock %}
{% block footer %}
{% endblock%}
