{% extends "index.html" %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/pruebas.css' %}" name="prueba">
<script src="{% static 'js/pruebas.js' %}" defer> </script>
{% endblock extrahead %}


{% block header %}

{% endblock header %}
{% block content %}

<div class="dropdown">
    <button id="dropdown-btn" class="dropdown-btn">Mostrar jugadores inscritos</button>
    <ul id="dropdown-menu" class="dropdown-menu">
      <li>Opción 1</li>
      <li>Opción 2</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
      <li>Opción 3</li>
    </ul>
</div>
{% endblock content %}