{% extends "index.html" %} {% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/restaurant.css' %}" />
{% endblock %}

{% block header %}
    <div class=" login">
    {% include 'header/log.html' %}
    </div>
    <div class="navbar">
        {% include 'header/navbar.html' %}
    </div>

{% endblock %}

{% block content %}
<div class="body">
    <section id="restaurante">
        <h1>MENÚ</h1>
    
        {% for menu_section in menu_sections %}
        <div class="product-card">
            <h2> {{menu_section.section_title}} </h2>
            <div class="container">
                {% for product in menu_section.products %}
                <div class="product">
                    <h3> {{product.nombre_producto}} - ${{product.precio}} </h3>
                    <p> {{product.descripcion}} </p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}