{% extends "index.html" %} {% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/restaurant.css' %}" />
{% endblock %}

{% block header %}
    <div class="body login">
    {% include 'header/log.html' %}
    </div>
    <div class="navbar sticky">
        {% include 'header/navbar.html' %}
    </div>

{% endblock %}

{% block content %}
<div class="body">
    <section id="restaurante">
        <div class="product-card">
            <h1>MENÚ</h1>
            <h2>Comida</h2>
            <div class="container">
                <div class="product">
                    <h3>Tacos de Pescado - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Tacos de Pescado - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Tabla de Quesos y Embutidos - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Tabla de Quesos y Embutidos - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Paella de Mariscos - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Paella de Mariscos - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Pollo al Limón - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Pollo al Limón - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Rissoto de Champiñones - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Rissoto de Champiñones - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <h2>Bebidas con alcohol</h2>
            <div class="container">
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <h2>Bebidas sin alcohol</h2>
            <div class="container">
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <h2>Cervezas</h2>
            <div class="container">
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <h2>Botellas</h2>
            <div class="container">
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $10.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $15.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Cerveza Artesanal - $20.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Mojito - $18.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="product">
                    <h3>Sangría - $17.00</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}