{% load static %}
    {% block extralard %}
            <script src="{% static '\js\cards_home.js' %}" defer></script>
    {% endblock %}
<section class="bottom_contenedor">

  
  
  
  <div class="heart_contenedor">
    <h1>Participa en nuestros torneos!!</h1>
    <img src="{% static 'img/heart_promo.png' %}" alt="promoh">
    <p>Participa en 5 de nuestros torneos y la 6ta inscripción es <strong>gratis!!!</strong>.</p>
</div>
 <div class="contenedor_h2">
    <img src="{% static 'img/torneos_home.png' %}" alt="Lobby bar">
    <h3 id="texto2">Torneos</h3>
    <a href="{% url 'tournaments' %}">Ingresar</a>
  </div>
    
</section>