{% load static %}

<section class="bottom_contenedor">

  
  
  
  <div class="heart_contenedor">
    <img src="{% static 'img/heart_promo.webp' %}" alt="promoh">
  </div>
  <div class="text_tournament">
    <h1>¿Ya te inscribiste?</h1>
    <p>En Lobby Restaurant Bar, nuestro espíritu de competición es lo que nos define. Por eso, organizamos regularmente torneos de nuestros juegos favoritos. Estos eventos no solo te garantizan una tarde espectacular llena de diversión, buena comida y la oportunidad de conocer a otros apasionados como tú, sino también la posibilidad de demostrar tu destreza y ganar increíbles premios en efectivo.
    </p>
    <p>Además, en Lobby premiamos tu lealtad: si te inscribes en 5 torneos, ¡el 6.º torneo es completamente gratis! No pierdas la oportunidad de formar parte de esta emocionante experiencia y llevar tus habilidades al siguiente nivel.
    </p>
  </div>
    
</section>