{% load static %}

<section class="informacion_general">

  
  <div class="contenedor_infogeneral">
    <h1>¿Quienes somos?</h1>
    <p>
      Lobby Restaurant Bar es un lugar único que nació con la idea de ofrecer un espacio de diversión para todas las edades, inspirado en la temática de los videojuegos y el estilo retro. Aquí encontrarás una experiencia increíble, ya sea que vengas con tu familia, amigos o incluso solo. En Lobby te espera un ambiente cálido, con comida deliciosa y bebidas pensadas para todos.
    </p>
    <p>
      Además, contamos con una amplia selección de consolas como Xbox, PlayStation y Nintendo Switch, equipadas con una gran variedad de juegos para disfrutar al máximo. También disponemos de mesas de billar, ideales para quienes buscan una experiencia divertida y relajada.
    </div>
  <div class="contenedor_infogeneral_img">
    <div class="info_img1">
      <div class="info_img1_position"><img src="{% static 'img/nachos.webp' %}" alt="lobby" /></div>
    </div>
    <div class="info_img2"><div class="info_img2_position"><img src="{% static 'img/cerveza.webp' %}" alt="lobby" /></div></div>
  </div>
 
    
</section>