{% load static %}

<section class="informacion_general">

  
  <div class="contenedor_infogeneral">
    <h1>¿Quienes somos?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis lectus vel neque pharetra, vel sagittis ex tempus. Maecenas fringilla viverra vestibulum. Fusce volutpat sed elit sit amet euismod. Pellentesque id dolor aliquet, lacinia sapien vel, imperdiet nisl. Sed suscipit placerat tellus, ac placerat nisl ultrices in. Cras fermentum molestie dui in molestie. Morbi finibus auctor erat et dapibus. Praesent purus tellus, varius sed porta sed, convallis in ipsum. Pellentesque dignissim, nibh at tempus dignissim, dolor tellus tempor nisl, eu convallis libero mi quis magna. Nullam sed cursus elit.

    </p>
  </div>
  <div class="contenedor_infogeneral_img">
    <div class="info_img1"><img src="{% static 'img/lobby_root.webp' %}" alt="lobby" /></div>
    <div class="info_img2"><img src="{% static 'img/lobby_root.webp' %}" alt="lobby" /></div>
  </div>
 
    
</section>