
{% load static %}
<section class="carrusel_body">
 

    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for promo in promociones %}
            <div class="swiper-slide">
                <img src="{{ promo.imagen.url }}" alt="{{ promo.nombre }}">
                <p>{{ promo.nombre }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
       

</section>


