.contenedor_comments{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    scrollbar-color: rgba(212, 45, 227, 0.6) rgba(0, 0, 0, 0.6);
}
.contenedor_comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 2%;
    
}
.contenedor_comment textarea {
    width: 100%;
    height: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #160020;
    border-radius: 4px;
    background-color: #950f9e52;
    resize: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    outline: none;
    transition: 0.3s;
    overflow: hidden;
  }
    .contenedor_comment textarea:focus {
        border-color: #950f9e;
        background-color: #950f9e39;
        color: #ffffff;
    }
    .contenedor_comment button {
        width: 40%;
        background-color: #950f9ec8;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        outline: none;
        transition: 0.3s;
    }
    .contenedor_comment button:hover {
        background-color: #950f9e;
    }
.comments{
    background-color: rgb(136 0 194 / 62%);
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}
.comment{
    display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        margin: 1%;
        padding: 1%;
        border: 1px solid #0e0c3566;
        border-radius: 10px;
        background-color: rgb(0 0 0 / 82%);
        overflow: hidden;
    
}