.contenedor_h{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative; /* Para posicionar el fondo y el texto en relación a este contenedor */
    overflow: hidden; /* Evitar que elementos se desborden */
    transition: transform 0.5s ease;
}
.contenedor_h2{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; /* Para posicionar el fondo y el texto en relación a este contenedor */
    overflow: hidden; /* Evitar que elementos se desborden */
    transition: transform 0.5s ease;
}	
.contenedor_h:hover, .contenedor_h2:hover {
   transform: scale(1.05); /* Evitar que elementos se desborden */
   transition: transform 0.5s ease;
}

/* Imagen dentro del contenedor */
.contenedor_h img{
    margin-left: 6%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.5s ease; /* Animación suave al hover */
}

.contenedor_h2 img {
    margin-left: 6%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.5s ease; /* Animación suave al hover */
}
/* Fondo degradado (añadido en hover) */
.contenedor_h::before, .contenedor_h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 98%;
    margin-left: 4%;
    height: 60%;
    background: linear-gradient(to top, black, transparent);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
   
}

/* Aparecer el fondo degradado al hacer hover */
.contenedor_h:hover::before, .contenedor_h2:hover::before {
    opacity: 1; /* Muestra el fondo al hacer hover */
}

/* Estilo del texto (h3) */
.contenedor_h h3, .contenedor_h2 h3 {
    text-align: center;
    top: 80%; /* Posición vertical centrada */
    position: absolute;
    color: white;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000; 
    z-index: 2; /* Asegura que el texto esté encima del fondo degradado */
    opacity: 1; /* Siempre visible */
    transition: transform 0.5s ease; /* Suaviza el movimiento */
}
.contenedor_h a, .contenedor_h2 a {
    position: absolute;
    bottom: 10%; /* Posición del enlace */
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #c000c4; /* Fondo del botón/enlace */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0; /* Inicialmente invisible */
    z-index: 2; /* Encima del fondo degradado */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Suaviza la aparición */
    transform: translateY(20px); /* Posición inicial para la animación */
    box-shadow: 0 2px 4px rgba(232, 7, 228, 0.4), 
    0 6px 20px rgba(232, 7, 228, 0.2);
}

.contenedor_h:hover a, .contenedor_h2:hover a {
    opacity: 1; /* Hace visible el enlace */
    transform: translateY(0); /* Mueve el enlace hacia su posición final */
}
.contenedor_h a:hover, .contenedor_h2 a:hover {
    transform: scale(1.1);
    background-color: #c000c4; /* Fondo del botón/enlace */
    box-shadow: 0 4px 8px rgba(232, 7, 228, 0.4), 
    0 6px 20px rgba(232, 7, 228, 0.2);    text-shadow: 0 0 10px #e807e4, 0 0 10px #e807e4;
}
