.matches{
    width: 100%;
    height: 500px;
    background-color: #1f1f1f;
    margin: 40px 0;
}

.hide{
    display: none;
}

#svg_input {
    position: absolute;
    border: none;
    font-size: 16px;
    display: none;
    outline: none;
    background-color: #a1a1a1; 
    text-align: center;
    color: black;
    width: 12px;
    height: 13px;
    font-size: 13px;
    font-weight: 700;

}
