{% extends "index.html" %} {% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/reservation.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="login">
  {% include 'header/log.html' %}
</div>
<div class="navbar">
  {% include 'header/navbar.html' %}
</div>

{% endblock %}

{% block content %}
<div class="body">
  <container class="header-container">
    <h2 class="lato-bold">Realiza tu reservación</h2>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round"
      stroke-linejoin="round" width="56" height="56" stroke-width="2">
      <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
      <path d="M16 3l0 4"></path>
      <path d="M8 3l0 4"></path>
      <path d="M4 11l16 0"></path>
      <path d="M8 15h2v2h-2z"></path>
    </svg>

  </container>


  {% if user.is_authenticated %}
  <!-- Usuario autenticado -->
  <div class="hcontainer">
    <h1>Bienvenido, {{ user.username }}</h1>
  </div>
  <form method="post" action="{% url 'reservations' %}" id="reservation-form">
    {% csrf_token %}
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required />

    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required min="18:00" max="" />

    <label for="num_personas">Número de personas:</label>
    <input type="number" id="num_personas" name="num_personas" required />

    <label for="comentarios">Comentarios:</label>
    <textarea id="comentarios" name="comentarios"></textarea>

    <button type="submit">Reservar</button>
  </form>
  {% else %}
  <!-- Usuario no autenticado -->
  <form method="post" action="{% url 'reservations' %}" id="reservation-form">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required />

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required />

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required />

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required />

    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required min="18:00" max="23:00"
      title="Por favor, seleccione una hora entre las 18:00 y las 23:00" />

    <label for="num_personas">Número de personas:</label>
    <input type="number" id="num_personas" name="num_personas" required min="1"
      title="El numero minimo de personas permitido es 1" />

    <label for="comentarios">Comentarios:</label>
    <textarea id="comentarios" name="comentarios"></textarea>

    <button type="submit">Reservar</button>
  </form>


  <div id="reservation-modal" class="modal">
    <div class="modal-content">
      <h2>Confirmación</h2>
      <p id="modal-detalles"></p>
      <p><strong>¡Te enviaremos un WhatsApp para afinar detalles de tu reservación!</strong></p>
      <button id="close-modal">Cerrar</button>
    </div>
  </div>


  <script src="{% static 'js/reservations.js' %}" defer></script>


  {% endif %}
</div>
{%endblock%}