{% extends "index.html" %} {% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/reservation.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block header %}
<div class="login">
  {% include 'header/log.html' %}
</div>
<div class="navbar">
  {% include 'header/navbar.html' %}
</div>

{% endblock %}

{% block content %}
<div class="body">

  <h2>¡Bienvenido {{user.username }}!</h2>

  {% if user.is_authenticated %}
  <!-- Usuario autenticado -->
    <h1>Realiza tu reservación</h1>

  <form method="post" action="{% url 'reservations' %}" id="reservation-form">
    {% csrf_token %}
    
    <div class="campoForm">   
      <label for="fecha">Fecha de Reservación:</label>
      <input type="text" id="fecha" class="date-picker" placeholder="Selecciona una fecha">
    </div>
    
    <div class="campoForm">
      <label for="hora">Hora de Reservación:</label>
      <input type="text" id="hora" class="time-picker" placeholder="Selecciona una hora">     
    </div>
    
    <div class="campoForm">
      <label for="num_personas">Número de personas:</label>
      <input type="number" id="num_personas" name="num_personas" required />
    </div>

    <div class="campoForm">
      <label for="comentarios">Comentarios:</label>
      <textarea id="comentarios" name="comentarios"></textarea>
    </div>

    <button type="submit">Reservar</button>

  </form>


  {% else %}
  <!-- Usuario no autenticado -->
  <form method="post" action="{% url 'reservations' %}" id="reservation-form">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required />

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required />

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required />

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required />

    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required min="18:00" max="23:00"
      title="Por favor, seleccione una hora entre las 18:00 y las 23:00" />

    <label for="num_personas">Número de personas:</label>
    <input type="number" id="num_personas" name="num_personas" required min="1"
      title="El numero minimo de personas permitido es 1" />

    <label for="comentarios">Comentarios:</label>
    <textarea id="comentarios" name="comentarios"></textarea>

    <button type="submit">Reservar</button>
  </form>


  <div id="reservation-modal" class="modal">
    <div class="modal-content">
      <h2>Confirmación</h2>
      <p id="modal-detalles"></p>
      <p><strong>¡Te enviaremos un WhatsApp para afinar detalles de tu reservación!</strong></p>
      <button id="close-modal">Cerrar</button>
    </div>
  </div>

  {% endif %}
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/calendario.js' %}"></script>
<script src="{% static 'js/hora.js' %}"></script>
<script src="{% static 'js/autorrelleno.js' %}"></script>

{%endblock%}