{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lobby bar</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
        <link rel="stylesheet" href="{% static 'css/field.css' %}" />
        <link rel="stylesheet" href="{% static 'css/landpage.css' %}" />
        <link rel="stylesheet" href="{% static 'css/body.css' %}" />
        <link rel="stylesheet" href="{% static 'css/generic.css' %}" />
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
        {% block extrahead %}

        {% endblock %}
    </head>
    <body>
        
        {% block header %}
        
        <section class="landpage">
            
        <div class="login">
        {% include 'header/log.html' %}
        </div>

        {% include 'header/logo.html' %}
        {% include 'header/navbar.html' %}
        </section>
        
        {% endblock %}

        {% block content %}
        <main class="body">
        {% include 'body/promociones.html' %}
        {% include 'body/informacion.html' %}
        {% include 'body/ubicacion.html' %}
        {% include 'body/bottompage.html' %}
        </main>
        {% endblock %}
  </body>
</html>
