{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby bar</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landpage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/body.css' %}" />
    <link rel="stylesheet" href="{% static 'css/generic.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landpage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/informacion.css' %}" />
    <link rel="stylesheet" href="{% static 'css/promociones.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landpage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bottompage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tournament.css' %}" />
  </head>
  <body>
    <section class="landpage">
      
    

      
      {% include 'header/navbar.html' %}
    </section>
    {% block content %} {% endblock %}
        

  </body>
</html>
