<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Consulta SQL</title>
    </head>
    <body>
        <h1>Resultados de las consultas</h1>
        <h2>Datos del Usuario con ID 3</h2>
        {% for row in user %}<p>{{ row }}</p>{% endfor %}
        <h2>Torneos</h2>
        {% for torneo in torneos %}<p>{{ torneo }}</p>{% endfor %}
        <h2>Participantes en el Torneo</h2>
        {% for participante in participantes %}<p>{{ participante }}</p>{% endfor %}
        <h2>Usuarios con Reservaciones</h2>
        {% for usuario in usuarios_con_reservacion %}<p>{{ usuario }}</p>{% endfor %}
        <h2>Promociones asociadas a la sucursal 2</h2>
        {% for promocion in promociones_sucursal_2 %}<p>{{ promocion }}</p>{% endfor %}
        <h2>Productos de la Sucursal 3</h2>
        {% for producto in productos_sucursal_3 %}<p>{{ producto }}</p>{% endfor %}
        <h2>Reservaciones del 24/11/24</h2>
        {% for reservacion in reservaciones_24_nov %}<p>{{ reservacion }}</p>{% endfor %}
        <h2>Productos de tipo Bebidas sin Alcohol</h2>
        {% for producto in productos_bebidas_sin_alcohol %}<p>{{ producto }}</p>{% endfor %}
        <h2>Torneos del 30/11/24</h2>
        {% for torneo in torneos_30_nov %}<p>{{ torneo }}</p>{% endfor %}
        <h2>Descripción de la Promoción con ID 27</h2>
        {% for promocion in promocion_27 %}<p>{{ promocion }}</p>{% endfor %}
    </body>
</html>
